<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />

	<div th:replace="admin/welcome::#link"></div>

<!--/meta 作为公共模版分离出去-->

<title>修改密码</title>

</head>
<body>
<article class="page-container" id="user_update" email="" th:attr="email=${user.email}">
	<form action="/" method="post" onsubmit="return false;" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-8 col-sm-9" th:text="${user.nickName}"> 张三 </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="newpassword2" id="newpassword2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" onclick="editPass()">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
			newpassword:{
				required:true,
				minlength:6,
				maxlength:16
			},
			newpassword2:{
				required:true,
				minlength:6,
				maxlength:16,
				equalTo: "#newpassword"
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			// var index = parent.layer.getFrameIndex(window.name);
			// parent.$('.btn-refresh').click();
			// parent.layer.close(index);
		}
	});
});
function editPass() {
    var user_email=$('#user_update')[0].getAttribute('email');
    var newPass=$('#newpassword').val();
    //console.log(newPass)
    newPass=""+salt.charAt(0)+salt.charAt(4)+newPass+salt.charAt(5)+salt.charAt(2);
    newPass=md5(newPass);
    //console.log(newPass)
    var newPass2=$('#newpassword2').val();
    //console.log(newPass2)
    newPass2=""+salt.charAt(0)+salt.charAt(4)+newPass2+salt.charAt(5)+salt.charAt(2);
    newPass2=md5(newPass2);
    //console.log(newPass2)

    $.ajax({
        url:"/user/editpass/"+user_email,
        data:{
            newPass:newPass,
            confimPass:newPass2
        },
        success:function (data) {
            data=eval("("+data+")");
            if (data.code==200){
                layer.msg("修改成功")
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                window.location.href="/admin/user-list"
            } else {
                layer.msg(data.msg)
            }
        }
    })
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>