<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />

	<div th:replace="admin/welcome::#link"></div>

<!--/meta 作为公共模版分离出去-->

<title>添加用户 - H-ui.admin v3.1</title>

</head>
<body>
<article class="page-container" id="comment_edit" comment-id="" th:attr="comment-id=${commentId}">
	<form action="" onsubmit="return false;" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">评论内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="introduction" id="introduction" cols="" rows="" class="textarea"  placeholder="修改评论" onKeyUp="$.Huitextarealength(this,100)"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;" onclick="UpdateUser();">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/H-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});

		$("#form-member-add").validate({
			rules:{
                nickName:{
					required:true,
					minlength:2,
					maxlength:16
				},
				isAdmin:{
					required:true,
				},
				mobile:{
					required:true,
					isMobile:true,
				},
				email:{
					required:true,
					email:true,
				},
				uploadfile:{
					required:true,
				},

			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				// $(form).ajaxSubmit();
				// var index = parent.layer.getFrameIndex(window.name);
				// //parent.$('.btn-refresh').click();
				// parent.layer.close(index);
				// window.location.href="/admin/user-list";
			}
		});
	 });

	function UpdateUser() {
	    var commentId=$('#comment_edit')[0].getAttribute('comment-id');
	    console.log(commentId)
        var introduction=$('#introduction').val();
        $.ajax({
			url:"/comment/edit/content",
			type:"POST",
            async:false,
			data:{
                commentId:commentId,
				newContent:introduction
			},
			success:function (data) {
                data=eval("("+data+")");
                if (data.code==200){
                    layer.msg("修改成功")
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    window.location.href="/admin/allcomment/0"
                } else {
                    layer.msg(data.msg)
                }
            }
		})
    }
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>