<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<div th:replace="admin/welcome::#link"></div>


<title>评论列表</title>
</head>
<body>
<header th:replace="admin/welcome::#head"></header>

<aside th:replace="admin/welcome::#menu"></aside>
<div class="page-container" style="margin-left:200px;" id="comment-list" page="0">
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="60">ID</th>
					<th width="60">留言者</th>
					<th>留言内容</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="comment:${commentList}">
					<tr class="text-c">
						<td><input type="checkbox" value="1" name="mutipartSelect" th:value="${comment.id}"></td>
						<td th:text="${comment.id}">1</td>
						<td><a href="javascript:;" onclick="member_show('张三','member-show.html','10001','360','400')" ><i class="avatar size-L radius"><img alt="" src="" th:src="${comment.avatar}"></i></a></td>
						<td class="text-l"><div class="c-999 f-12">
							<u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')" th:text="${comment.nickName}">张三</u> <time title="" th:text="${#dates.format(comment.commentDate, 'yyyy-MM-dd')}">2014-8-31 15:20</time>  <span class="ml-20" th:text="${comment.email}">admin@mail.com</span></div>
							<div class="f-12 c-999"><a href="" target="_blank" th:href="'/detail/'+${comment.gameId}" th:text="'/detail/'+${comment.gameId}"></a></div>
							<div th:text="${comment.content}">留言内容</div></td>
						<td class="td-manage">
							<a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" th:onclick="'member_edit(&quot;编辑内容&quot;,&quot;/admin/edit-comment/&quot;,'+${comment.id}+',&quot;500&quot;,310)'" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
							<a title="删除" href="javascript:;" onclick="member_del(this,'1')" th:onclick="'member_del(this,'+${comment.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<!--<div class="dataTables_paginate paging_simple_numbers" >-->
			<!--<a onclick="nextPage()">上一页</a>-->
			<!--<a onclick="prePage()">下一页</a></div>-->
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/H-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js" th:src="@{/H-ui/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript">

$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [ 1, "desc" ],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
		]
	});

});

function nextPage() {
	var page=$('#comment-list')[0].getAttribute('page');
	page=parseInt(page);
	page++;
	window.location.href="/admin/allcomment/"+page;
}

function prePage() {
    var page=$('#comment-list')[0].getAttribute('page');
    page=parseInt(page);
    page--;
    window.location.href="/admin/allcomment/"+page;
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}


/*用户-编辑*/
function member_edit(title,url,id,w,h){
    url=url+id;
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/comment/delete/'+id,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>