<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<div th:replace="admin/welcome::#link"></div>
<link href="lib/webuploader/0.1.5/webuploader.css" th:href="@{/H-ui/lib/webuploader/0.1.5/webuploader.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="new_game_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏介绍：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="new_game_introduction" name="" cols="" rows="" class="textarea"  placeholder="介绍游戏...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp=""></textarea>
				<p class="textarea-numberbar"></p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏关于：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea id="new_game_about" name="" cols="" rows="" class="textarea"  placeholder="介绍游戏...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp=""></textarea>
				<p class="textarea-numberbar"></p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>游戏分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="new_game_kind" id="new_game_kind" class="select">
					<th:block th:each="type:${typeList}">
						<option value="0" th:text="${type}">一级分类</option>
					</th:block>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="" id="new_game_price" placeholder="" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏折扣：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="" id="new_game_discount" placeholder="输入一个大于等于0小于100的整数" value="" class="input-text" style="width:90%">
				%</div>
		</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">是否发布：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9 skin-minimal">-->
				<!--<div class="check-box">-->
					<!--<input type="checkbox" id="checkbox-1">-->
					<!--<label for="checkbox-1">&nbsp;</label>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">游戏最低配置：</label>
			<div class="formControls col-xs-8 col-sm-9">
				CPU：<input type="text" name="" id="new_game_lowest_cpu" placeholder="输入CPU版本" value="" class="input-text" style=" width:25%">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OS:<input type="text" name="" id="new_game_lowest_os" placeholder="输入操作系统版本" value="" class="input-text" style=" width:25%">
				&nbsp;&nbsp;&nbsp;RAM:<input type="text" name="" id="new_game_lowest_ram" placeholder="输入内存大小" value="" class="input-text" style=" width:25%"><br><br>
				显卡:&nbsp;&nbsp;<input type="text" name="" id="new_game_lowest_xianka" placeholder="输入显卡级别" value="" class="input-text" style=" width:25%">
				NETWORK:<input type="text" name="" id="new_game_lowest_net" placeholder="输入网络的要求" value="" class="input-text" style=" width:25%">
				DIRECTX:<input type="text" name="" id="new_game_lowest_directx" placeholder="输入驱动的版本" value="" class="input-text" style=" width:25%"><br><br>
				ROM:<input type="text" name="" id="new_game_lowest_rom" placeholder="输入外存的大小" value="" class="input-text" style=" width:25%">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;声卡:<input type="text" name="" id="new_game_lowest_shenka" placeholder="输入声卡的版本" value="" class="input-text" style=" width:25%">
			</div>
		</div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">游戏推荐配置：</label>
            <div class="formControls col-xs-8 col-sm-9">
                CPU：<input type="text" name="" id="new_game_good_cpu" placeholder="输入CPU版本" value="" class="input-text" style=" width:25%">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OS:<input type="text" name="" id="new_game_good_os" placeholder="输入操作系统版本" value="" class="input-text" style=" width:25%">
                &nbsp;&nbsp;&nbsp;RAM:<input type="text" name="" id="new_game_good_ram" placeholder="输入内存大小" value="" class="input-text" style=" width:25%"><br><br>
                显卡:&nbsp;&nbsp;<input type="text" name="" id="new_game_good_xianka" placeholder="输入显卡级别" value="" class="input-text" style=" width:25%">
                NETWORK:<input type="text" name="" id="new_game_good_net" placeholder="输入网络的要求" value="" class="input-text" style=" width:25%">
                DIRECTX:<input type="text" name="" id="new_game_good_directx" placeholder="输入驱动的版本" value="" class="input-text" style=" width:25%"><br><br>
                ROM:<input type="text" name="" id="new_game_good_rom" placeholder="输入外存的大小" value="" class="input-text" style=" width:25%">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;声卡:<input type="text" name="" id="new_game_good_shenka" placeholder="输入声卡的版本" value="" class="input-text" style=" width:25%">
            </div>
        </div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">海报图：</label>-->
			<!--&lt;!&ndash;<div class="formControls col-xs-8 col-sm-9">&ndash;&gt;-->
				<!--&lt;!&ndash;<div class="uploader-thum-container">&ndash;&gt;-->
					<!--&lt;!&ndash;<div id="fileList" class="uploader-list"></div>&ndash;&gt;-->
					<!--&lt;!&ndash;<div id="filePicker">选择图片</div>&ndash;&gt;-->
                    <!--<input type="hidden" id="new_game_poster" name="new_game_poster">-->
					<!--<input type="file"  name="file" id="file">-->
                    <!--<img id="new_poster_show" src="http://127.0.0.1:8888/img/606208.jpg" style="width: 50px;height: 50px;margin-left: -20px;display: none">-->
					<!--<button  class="btn btn-default btn-uploadstar radius ml-10" onclick="uploadPosterImage()">开始上传</button>-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
		<!--</div>-->
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">图片介绍上传：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9">-->
				<!--<div class="uploader-list-container">-->
					<!--<div class="queueList">-->
						<!--<div id="dndArea" class="placeholder">-->
							<!--<div id="filePicker-2"></div>-->
							<!--<p>将照片拖到这里，最多可选6张(第一张为海报图)</p>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="statusBar" style="display:none;">-->
						<!--<div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>-->
						<!--<div class="info"></div>-->
						<!--<div class="btns">-->
							<!--<div id="filePicker2"></div>-->
							<!--<div class="uploadBtn">开始上传</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onClick="saveNewGame();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 新建</button>
				<!--<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>-->
				<!--<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>-->
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    //新建一个游戏
    function saveNewGame() {
        var newGameName=$('#new_game_name').val();
        var newGameIntroduction=$('#new_game_introduction').val();
        var newGameAbout=$('#new_game_about').val();
        var newGameKind=$('#new_game_kind option:selected').text();
        var newGamePrice=$('#new_game_price').val();
        var newGameDiscount=$('#new_game_discount').val();
        var newGameLowestCpu=$('#new_game_lowest_cpu').val();
        var newGameLowestOs=$('#new_game_lowest_os').val();
        var newGameLowestRam=$('#new_game_lowest_ram').val();
        var newGameLowestXianka=$('#new_game_lowest_xianka').val();
        var newGameLowestNetwork=$('#new_game_lowest_net').val();
        var newGameLowestDirectx=$('#new_game_lowest_directx').val();
        var newGameLowestRom=$('#new_game_lowest_rom').val();
        var newGameLowestShenka=$('#new_game_lowest_shenka').val();
        var newGameGoodCpu=$('#new_game_good_cpu').val();
        var newGameGoodOs=$('#new_game_good_os').val();
        var newGameGoodRam=$('#new_game_good_ram').val();
        var newGameGoodXianka=$('#new_game_good_xianka').val();
        var newGameGoodNetwork=$('#new_game_good_net').val();
        var newGameGoodDirectx=$('#new_game_good_directx').val();
        var newGameGoodRom=$('#new_game_good_rom').val();
        var newGameGoodShenka=$('#new_game_good_shenka').val();
        $.ajax({
            url:"/game/add",
            type:"POST",
            data:{
                newGameName:newGameName,
                newGameIntroduction:newGameIntroduction,
                newGameAbout:newGameAbout,
                newGameKind:newGameKind,
                newGamePrice:newGamePrice,
                newGameDiscount:newGameDiscount,
                newGameLowestCpu:newGameLowestCpu,
                newGameLowestOs:newGameLowestOs,
                newGameLowestRam:newGameLowestRam,
                newGameLowestXianka:newGameLowestXianka,
                newGameLowestNetwork:newGameLowestNetwork,
                newGameLowestDirectx:newGameLowestDirectx,
                newGameLowestRom:newGameLowestRom,
                newGameLowestShenka:newGameLowestShenka,
                newGameGoodCpu:newGameGoodCpu,
                newGameGoodOs:newGameGoodOs,
                newGameGoodRam:newGameGoodRam,
                newGameGoodXianka:newGameGoodXianka,
                newGameGoodNetwork:newGameGoodNetwork,
                newGameGoodDirectx:newGameGoodDirectx,
                newGameGoodRom:newGameGoodRom,
                newGameGoodShenka:newGameGoodShenka
            },
            success:function (data) {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                data=eval("("+data+")");
                layer.msg("增加成功");
                window.location.href="/admin/not-game-list"
            }
        })
    }
</script>



</body>
</html>