<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

	<div th:replace="admin/welcome::#link"></div>

<title>标签管理</title>
</head>
<body>
<header th:replace="admin/welcome::#head"></header>

<aside th:replace="admin/welcome::#menu"></aside>
<div class="page-container" style="margin-left:200px ">
	<div class="text-c"> 分类名称:
		<input type="text" class="input-text" id="kin-new" name="" style="width:150px">
		<button  class="btn btn-primary radius" id="" name="" onclick="addKind()">
			<i class="Hui-iconfont">&#xe600;</i>
			添加字典
		</button>
	</div>

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">ID</th>
					<th>标签名称</th>
					<th>标签热度</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="label:${labelList}">
					<tr class="text-c">
						<td><input type="checkbox" value="" name=""></td>
						<td th:text="${label.id}">0001</td>
						<td th:text="${label.name}">城市</td>
						<td th:text="${label.hotNum}">城市</td>
						<td class="f-14">
							<!--<a style="text-decoration:none" onclick="system_data_edit('角色编辑','system-data-edit.html','0001','400','310')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>-->
							<a title="删除" href="javascript:;" onclick="system_data_del(this,'10001')" th:onclick="'system_data_del(this,'+${label.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
				</th:block>

			</tbody>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/H-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js" th:src="@{/H-ui/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [ 1, "desc" ],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,2]}// 制定列不参与排序
            ]
        });

    });

    /*数据字典-编辑*/
function system_data_edit(title,url,id,w,h){
  layer_show(title,url,w,h);
}
/*数据字典-删除*/
function system_data_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/label/delete/'+id,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}

function addKind() {
	var labelName=$('#kin-new').val();
	$.ajax({
		url:"/label/addone",
		data:{
            labelName:labelName
		},
		success:function (data) {
			layer.msg("添加成功");
			window.location.href="/admin/label-list";
        }
	})
}
</script>
</body>
</html>