<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />

	<div th:replace="admin/welcome::#link"></div>

<!--/meta 作为公共模版分离出去-->

<title>增加秒杀</title>

</head>
<body>
<article class="page-container">
	<form action="" onsubmit="return false;" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>库存：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="stockCount">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>秒杀价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="spikePrice">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>开始时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="datetime-local" class="input-text" value=""   placeholder="" id="startTime" name="nickName">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>结束时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="datetime-local" class="input-text" value=""   placeholder="" id="endTime" name="nickName">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">游戏选择：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select class="select" size="1" name="city" id="game_select">
					<option value="" selected>请选择游戏</option>
					<th:block th:each="Game:${gameList}">
						<option value="北京" th:value="${Game.id}" th:text="${Game.gameName}">北京</option>
					</th:block>
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" onclick="addUser();">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/H-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js" th:src="@{/H-ui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript">
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});


	 });

	function addUser() {
		var stockCount=$('#stockCount').val();
		var spikePrice=$('#spikePrice').val();
		var gameId=$('#game_select').val();
		var startTime=$('#startTime').val();
		startTime=new Date(startTime).getTime();
		var endTime=$('#endTime').val();
        endTime=new Date(endTime).getTime();
        $.ajax({
			url:"/spike/add",
			type:"POST",
            async:false,
			data:{
                stockCount:stockCount,
                spikePrice:spikePrice,
                gameId:gameId,
				startTime:startTime,
				endTime:endTime
			},
			success:function (data) {
			    data=eval("("+data+")");
			    if (data.code==200){
			        layer.msg("增加成功")
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    window.location.href="/admin/user-list"
				} else {
                    layer.msg(data.msg)
				}

            }
		})
    }
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>