<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

	<div th:replace="admin/welcome::#link"></div>

<title>秒杀管理</title>
</head>
<body>
<header th:replace="admin/welcome::#head"></header>

<aside th:replace="admin/welcome::#menu"></aside>
<div class="page-container" style="margin-left:200px ">

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="member_add('添加秒杀游戏','/admin/spike-add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加秒杀商品</a></span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="80">ID</th>
				<th width="100">游戏ID</th>
				<th width="40">游戏海报</th>
				<th width="90">秒杀价格</th>
				<th width="90">原价格</th>
				<th width="90">库存</th>
				<th width="130">开始时间</th>
				<th width="130">结束时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<th:block th:each="spike:${spikeList}">
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td th:text="${spike.id}">1</td>
				<td th:text="${spike.gameId}"></td>
				<td><img src="" th:src="${spike.posterImage}" style="width: 30px;width: 30px;"></td>
				<td th:text="${spike.spikePrice}"></td>
				<td th:text="${spike.gamePrice}"></td>
				<td class="text-l" th:text="${spike.stockCount}">北京市 海淀区</td>
				<td th:text="${#dates.format(spike.startTime, 'yyyy-MM-dd HH:mm:ss')}">2014-6-11 11:11:42</td>
				<td th:text="${#dates.format(spike.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td class="td-manage">
                    <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" th:onclick="'member_edit(&quot;秒杀修改&quot;,&quot;/admin/spike-edit/&quot;,'+${spike.id}+',&quot;&quot;,510)'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,'1')" th:onclick="'member_del(this,'+${spike.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
			</tr>
		</th:block>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="admin/welcome::#foot"></div> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/H-ui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js" th:src="@{/H-ui/lib/laypage/1.2/laypage.js}"></script>

<script type="text/javascript">
$(function(){
    $('.table-sort').dataTable({
        "aaSorting": [ 1, "desc" ],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
        ]
    });
	
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*用户-编辑*/
function member_edit(title,url,id,w,h){
    url=url+id;
	layer_show(title,url,w,h);
}

/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/spike/delete/'+id,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>