<th:block id="welcome">
	<div class="page-container">
	<p class="f-20 text-success">欢迎使用H-ui.admin <span class="f-14">v3.1</span>后台模版！</p>
	<p>登录次数：18 </p>
	<p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>资讯库</th>
				<th>图片库</th>
				<th>产品库</th>
				<th>用户</th>
				<th>管理员</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>92</td>
				<td>9</td>
				<td>0</td>
				<td>8</td>
				<td>20</td>
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>昨日</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本周</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
</th:block>

<th:block id="foot">
	<div class="footer" style="margin-top: 50px">Copyright 苍术开发，版权所有</div>
	<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" th:src="@{/H-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" src="static/h-ui/js/H-ui.min.js" th:src="@{/H-ui/static/h-ui/js/H-ui.min.js}"></script>
	<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js" th:src="@{/H-ui/static/h-ui.admin/js/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
	<script src="layer/layer.js" th:src="@{/layer/layer.js}" type="text/javascript"></script>
</th:block>

<th:block id="link">
	<link rel="stylesheet" type="text/css" href="../../static/H-ui/static/h-ui/css/H-ui.min.css"  th:href="@{/H-ui/static/h-ui/css/H-ui.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/H-ui/static/h-ui.admin/css/H-ui.admin.css" th:href="@{/H-ui/static/h-ui.admin/css/H-ui.admin.css}"/>
	<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/H-ui/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin"  th:href="@{/H-ui/static/h-ui.admin/skin/default/skin.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/H-ui/static/h-ui.admin/css/style.css" th:href="@{/H-ui/static/h-ui.admin/css/style.css}"/>
</th:block>

<th:block id="head">
	<header class="navbar-wrapper">
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="javascript:void (0);">SteamMall后台</a>  <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
				<nav class="nav navbar-nav">
					<ul class="cl">
						<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
							<ul class="dropDown-menu menu radius box-shadow">
								<li><a href="javascript:;" onclick="product_add('添加游戏','/admin/game-add')"><i class="Hui-iconfont">&#xe620;</i> 游戏</a></li>
                                <li><a href="javascript:;" onclick="product_add('添加用户','/admin/member-add')"><i class="Hui-iconfont">&#xe620;</i> 用户</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs" th:if="${adminUser}">
					<ul class="cl">
						<li class="dropDown dropDown_hover">
                            <a href="javascript:void(0);" class="dropDown_A">
								<th:block th:text="${adminUser.nickName}">admin </th:block>
								<i class="Hui-iconfont">&#xe6d5;</i>
							</a>
							<ul class="dropDown-menu menu radius box-shadow" id="email_info" email="" th:attr="email=${adminUser.email}">
								<li><a href="javascript:void(0);" onclick="adminLogout()">退出</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</th:block>

<th:block id="menu">
	<aside class="Hui-aside">
		<div class="menu_dropdown bk_2">
			<!--<dl id="menu-article">-->
				<!--<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
				<!--<dd>-->
					<!--<ul>-->
						<!--<li><a data-href="article-list.html" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>-->
					<!--</ul>-->
				<!--</dd>-->
			<!--</dl>-->
			<!--<dl id="menu-picture">-->
				<!--<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
				<!--<dd>-->
					<!--<ul>-->
						<!--<li><a data-href="picture-list.html" data-title="图片管理" href="javascript:void(0)">图片管理</a></li>-->
					<!--</ul>-->
				<!--</dd>-->
			<!--</dl>-->
			<dl id="menu-product">
				<dt><i class="Hui-iconfont">&#xe620;</i> 游戏管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/game-list">已发布</a></li>
						<li><a  href="/admin/not-game-list">未发布</a></li>
						<!--<li><a data-href="product-list.html"  href="javascript:void(0)">标签管理</a></li>-->
					</ul>
				</dd>
			</dl>
			<dl id="menu-comments">
				<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/allcomment/0">评论管理</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-member">
				<dt><i class="Hui-iconfont">&#xe60d;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/user-list">用户列表</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-admin">
				<dt><i class="Hui-iconfont">&#xe62d;</i>分类标签<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/kind-list">分类</a></li>
						<li><a  href="/admin/label-list">标签</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-tongji">
				<dt><i class="Hui-iconfont">&#xe61a;</i> 购物车/秒杀<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/shoppingcart">购物车</a></li>
						<li><a  href="/admin/spike">秒杀活动</a></li>
					</ul>
				</dd>
			</dl>
			<dl id="menu-system">
				<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a  href="/admin/sensitive">屏蔽词</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>
	<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
</th:block>