<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分类列表</title>
    <link href="css/motivo.css" rel="stylesheet" type="text/css">
    <th:block th:replace="fragment_header::#head"></th:block>
    <link href="css/browse.css" th:href="@{/css/browse.css}" rel="stylesheet" type="text/css">
    <link href="css/discoveryqueue.css" th:href="@{/css/discoveryqueue.css}" rel="stylesheet" type="text/css">
    <link href="css/tag.css" th:href="@{/css/tag.css}" rel="stylesheet" type="text/css">
    <link href="css/contenthub.css" th:href="@{/css/contenthub.css}" rel="stylesheet" type="text/css">
    <link href="css/creator.css" th:href="@{/css/creator.css}" rel="stylesheet" type="text/css">
    <link href="css/sharereponsive.css" th:href="@{/css/sharereponsive.css}" rel="stylesheet" type="text/css">
</head>
<body class="v6 tag_page game_bg contenthub_page responsive_page">
<!--头部-->
<div class="responsive_page_content">
    <div th:replace="fragment_top::#top"></div>
</div>

<div class="responsive_page_frame with_header" id="type" type-name="" th:attr="type-name=${typeName}">
    <div class="responsive_page_content">
        <div id="responsive_store_nav_ctn"></div>
        <div data-cart-banner-spot="1"></div>
        <div class="responsive_page_template_content">

            <div class="contenthub_page_background "
                 style="background-image: url('https://media.st.dl.bscstorage.net/steam/apps/105600/page_bg_generated_v6b.jpg?t=1548954652');">


                <div class="page_content_ctn">
                    <!--菜单-->
                    <div th:replace="fragment_menu::#menu"></div>
                </div>
                <!--轮播图-->
                <div class="page_contenthub_content">

                    <!-- Takeover click area -->

                    <div class="page_content content_hub">
                        <h2 class="pageheader" th:text="'正在浏览'+${typeName}+'类型的游戏'">
                            正在浏览动作类型的游戏 </h2>
                        <div class="contenthub_subtitle" th:text="'浏览 Steam 上最新、最热销和打折的'+${typeName}+'产品'">
                            浏览 Steam 上最新、最热销和打折的动作产品
                        </div>
                    </div>

                    <!-- Main Capsule Cover Flow -->
                    <!--轮播图-->
                    <div class="page_header_ctn capsules">
                        <div class="page_content">
                            <div id="genre_large_cluster" class="carousel_container quadscreenshot_carousel">
                                <!--<div class="carousel_items store_capsule_container">-->
                                <!--</div>-->
                                <div class="carousel_items store_capsule_container">

                                </div>

                                <!--<div class="carousel_thumbs">-->

                                <div class="carousel_thumbs">
                                    <div class="focus"></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                </div>

                                <div class="arrow left">
                                    <div></div>
                                </div>
                                <div class="arrow right">
                                    <div></div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>

                <!-- Main Content -->
                <div class="page_content_ctn">
                    <div class="page_content">

                        <!-- tabs list -->
                        <div class="leftcol sub">
                            <!-- Tab Section -->
                            <div class="tabarea">
                                <div class="tabbar_ctn">
                                    <div class="tabbar store_horizontal_minislider">
                                        <div id="tab_select_NewReleases" class="tab  tab_filler active" onclick="classTabSelect('NewReleases')">
                                            <div class="tab_content">
                                                新品热门
                                            </div>
                                        </div>
                                        <div id="tab_select_TopSellers" class="tab  tab_filler" onclick="classTabSelect('TopSellers')">
                                            <div class="tab_content">
                                                热销商品
                                            </div>
                                        </div>
                                        <div id="tab_select_ComingSoon" class="tab  tab_filler" onclick="classTabSelect('ComingSoon')">
                                            <div class="tab_content">
                                                即将发行
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content_ctn sub" id="mouseClassListPause">
                                    <div id="tab_content_NewReleases" style="display: block;">
                                        <div id="NewReleasesTable">
                                            <div id="NewReleasesRows">
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="NewReleases_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="NewReleases_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls" id="NewReleases_controls">
                                                        <span id="NewReleases_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="NewReleases_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="NewReleases_start">0</span> - <span
                                                            id="NewReleases_end">0</span> 个，共 <span
                                                            id="NewReleases_total">0</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                            </div>
                                            <!--<div class="tab_see_more">-->
                                                <!--<a class="btnv6_white_transparent btn_small_tall"-->
                                                   <!--href="https://store.steampowered.com/search/?sort_by=Released_DESC&tags=-1&tags=19">-->
                                                    <!--<span>浏览全部新品</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div id="tab_content_TopSellers" style="display: none;">
                                        <div id="TopSellersTable">
                                            <div id="TopSellersRows">
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="TopSellers_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="TopSellers_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls"
                                                         id="TopSellers_controls">
                                                        <span id="TopSellers_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="TopSellers_links"></span>
                                                        <span id="TopSellers_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="TopSellers_start">0</span> - <span
                                                            id="TopSellers_end">0</span> 个，共 <span
                                                            id="TopSellers_total">0</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                    </div>
                                        </div>
                                    </div>
                                    <div id="tab_content_ComingSoon" style="display: none;">
                                        <div id="ComingSoonTable">
                                            <div id="ComingSoonRows">
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="ComingSoon_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="ComingSoon_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls"
                                                         id="ComingSoon_controls">
                                                        <span id="ComingSoon_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="ComingSoon_links"></span>
                                                        <span id="ComingSoon_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="ComingSoon_start">0</span> - <span
                                                            id="ComingSoon_end">0</span> 个，共 <span
                                                            id="ComingSoon_total">0</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tab Section -->
                        </div>
                        <!-- right rail -->
                        <div class="rightcol small">
                            <div th:replace="fragment_spikegoods::#spike"></div>
                            <div class="contenthub_popular_tags" id="type_id">
                                <h2>依分类选择</h2>
                                    <a class="btnv6_blue_hoverfade btn_small_tall"
                                       href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=492,19&snr=1_tags_4__237">
                                        <span>独立</span>
                                    </a>
                                <div style="clear: both; margin-bottom: 20px;"></div>
                            </div>
                            <div th:replace="fragment_recommendgoods::#recommend"></div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Main Background -->
        </div>
        <!--右边悬浮框,每个74px-->
        <div class="hover game_hover" id="global_hover" style="left: 812.5px; top: 664px; display: none; opacity: 1;">
            <div class="game_hover_box hover_box">
                <div class="content" id="global_hover_content">
                    <div id="hover_app" style="display: block;">
                        <div class="hover_top_area" style="display: none;"></div>
                        <h4>Gamble Fight Plus</h4>
                        <div class="hover_release"> 发行于: 2019年4月20日 </div>
                        <div class="hover_screenshots">
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_51a3078d9108939e6e476eb18968f5db1cae2ff4.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_6ee40a87899b6dcab4bab08f86950674b408d06a.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_3c6e18d7b8c8beb6c06b9ee224bda43e5cad278f.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_5477f54bac458060e4a053f3cf833415c2ae4d3f.600x338.jpg?t=1555723821  )"></div>
                        </div>
                        <div class="hover_body">
                            <div class="hover_review_summary">
                                <div class="title">总体用户评测：</div>
                                <span class="game_review_summary mixed">褒贬不一</span>
                                (41 篇评测)
                            </div>
                            <div style="clear: left;"></div>
                        </div>
                        <div class="hover_body">
                            用户标签：
                            <div class="hover_tag_row">
                                <div class="app_tag">色情内容</div>
                                <div class="app_tag">裸露</div>
                                <div class="app_tag">动作</div>
                                <div class="app_tag">独立</div>
                                <div class="app_tag">动漫</div>
                                <div class="app_tag">女性主角</div>
                                <div class="app_tag">单人</div>
                                <div class="app_tag">可爱</div>
                                <div class="app_tag">3D 平台</div>
                                <div class="app_tag">快节奏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover_arrow_left" style="top: 35px;"></div>
            <div class="hover_arrow_right" style="display: none;"></div>
        </div>

        <div style="clear: both;"></div>
    </div>    <!-- responsive_page_legacy_content -->
</div>
<!--脚部-->
<div th:replace="fragment_foot::#foot"></div>
<script type="text/javascript">
    steam.initClass()
    var date=new Date(parseInt($('#dailydeal_timer')[0].getAttribute('date-time')));
    Y = date.getFullYear() + '/';
    M = date.getMonth()+1+'/';
    D = date.getDate()+',';
    h = date.getHours()+':';
    m = date.getMinutes()+':';
    s = date.getSeconds();
    date=Y+M+D+h+m+s;
    countDown(date,'dailydeal_timer');
</script>
</body>
</html>