<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>分类列表</title>
    <link href="css/motivo.css" rel="stylesheet" type="text/css">
    <th:block th:replace="fragment_header::#head"></th:block>
    <link href="css/browse.css" th:href="@{/css/browse.css}" rel="stylesheet" type="text/css">
    <link href="css/discoveryqueue.css" th:href="@{/css/discoveryqueue.css}" rel="stylesheet" type="text/css">
    <link href="css/tag.css" th:href="@{/css/tag.css}" rel="stylesheet" type="text/css">
    <link href="css/contenthub.css" th:href="@{/css/contenthub.css}" rel="stylesheet" type="text/css">
    <link href="css/creator.css" th:href="@{/css/creator.css}" rel="stylesheet" type="text/css">
    <link href="css/sharereponsive.css" th:href="@{/css/sharereponsive.css}" rel="stylesheet" type="text/css">
</head>
<body class="v6 tag_page game_bg contenthub_page responsive_page">
<!--头部-->
<div class="responsive_page_content">
    <div th:replace="fragment_top::#top"></div>
</div>

<div class="responsive_page_frame with_header" id="type" type-name="" th:attr="type-name=${typeName}">
    <div class="responsive_page_content">
        <div id="responsive_store_nav_ctn"></div>
        <div data-cart-banner-spot="1"></div>
        <div class="responsive_page_template_content">

            <div class="contenthub_page_background "
                 style="background-image: url('https://media.st.dl.bscstorage.net/steam/apps/105600/page_bg_generated_v6b.jpg?t=1548954652');">


                <div class="page_content_ctn">
                    <!--菜单-->
                    <div th:replace="fragment_menu::#menu"></div>
                </div>
                <!--轮播图-->
                <div class="page_contenthub_content">

                    <!-- Takeover click area -->

                    <div class="page_content content_hub">
                        <h2 class="pageheader">
                            正在浏览动作类型的游戏 </h2>
                        <div class="contenthub_subtitle">
                            浏览 Steam 上最新、最热销和打折的动作产品
                        </div>
                    </div>

                    <!-- Main Capsule Cover Flow -->
                    <!--轮播图-->
                    <div class="page_header_ctn capsules">
                        <div class="page_content">
                            <div id="genre_large_cluster" class="carousel_container quadscreenshot_carousel">
                                <!--<div class="carousel_items store_capsule_container">-->
                                <!--</div>-->
                                <div class="carousel_items store_capsule_container">
                                    <a href="https://store.steampowered.com/app/814380/Sekiro_Shadows_Die_Twice/?snr=1_tags_4__201" class="focus">
                                        <div class="main">
                                            <img class="maincap" src="https://media.st.dl.bscstorage.net/steam/apps/814380/capsule_616x353_alt_assets_0.jpg?t=1554918884">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/814380/ss_552bf9e99b3682d75c01ca4a55ba426e85f3b621.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/814380/ss_2036ad636be8fa2c4bf926004f369bb97490350a.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/814380/ss_53d73aff4d439cbd9b9b69430f9b3b6db8d0ecd7.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/814380/ss_285c1a69bda8182e5c52598d59259f1681b42e5c.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">
                                                <div>
                                                    <p>热销商品</p>
                                                </div>
                                            </div>
                                            <div class="appTitle">
                                                <h2>Sekiro™: Shadows Die Twice</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="26800">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">¥ 268</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://store.steampowered.com/app/230410/Warframe/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/230410/capsule_616x353.jpg?t=1553809925">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/230410/ss_1a353df5ca981d9aea85571fc2e2e2e1193b78f6.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/230410/ss_2d79448091149a8cc790b62e7422615a011d015a.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/230410/ss_a0bbf96bf2f5498f5625bdf67a28493365cf6d72.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/230410/ss_ead77e7b45f8dcfcf54d7a061745e7c99383bfc3.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>最新更新</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Warframe</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="0">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">免费游玩</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </a>
                                    <a href="https://store.steampowered.com/app/570/Dota_2/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/570/capsule_616x353.jpg?t=1554408611">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/570/ss_7ab506679d42bfc0c0e40639887176494e0466d9.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/570/ss_c9118375a2400278590f29a3537769c986ef6e39.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/570/ss_f9ebafedaf2d5cfb80ef1f74baa18eb08cad6494.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/570/ss_27b6345f22243bd6b885cc64c5cda74e4bd9c3e8.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>为您推荐热门产品</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Dota 2</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="0">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">免费游玩</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/252490/Rust/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/252490/capsule_616x353.jpg?t=1549762598">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/252490/ss_1d6dd798ec9ebe3b6da69483bfcdd19e7300971c.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/252490/ss_4f2d0e89f55bcf236bb64c72736104c44aa50275.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/252490/ss_58c5b4107fbd90f5a56b3adc97a6b61384ce4f12.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/252490/ss_f78385eb47e11f046f696e09d5bfa4d329017b1e.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>现已推出抢先体验</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Rust</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="10300">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">¥ 103</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/915460/ULTIMATE_HARDBASS_DEFENCE/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/915460/capsule_616x353.jpg?t=1555085548">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/915460/ss_4efa5195f266efe3b5270e73827e19276da26763.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/915460/ss_d6f3bcd76dfc21645cbf4fd52d622df088f493a5.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/915460/ss_3356736c0aa052a7a3dc50b0a7f698cd4da171ca.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/915460/ss_f42d4cf14d20b107069682cbf0457b4d049ca9c6.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>为您推荐的打折产品</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>ULTIMATE HARDBASS DEFENCE</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block " data-price-final="800">
                                                        <div class="discount_pct">-33%</div>
                                                        <div class="discount_prices">
                                                            <div class="discount_original_price">¥ 12</div>
                                                            <div class="discount_final_price">¥ 8</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/816090/Space_Hulk_Deathwing__Enhanced_Edition/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/816090/capsule_616x353.jpg?t=1553607180">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/816090/ss_b905032bce19abcf28c9657a9a1039883178936a.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/816090/ss_058900c61b9fe58228357f5131275a7993c4381b.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/816090/ss_d6003190ee103afb4e3112df9999fd5982bf9c68.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/816090/ss_52ce2d5b26cbb8d71f56c7fbe2e86d1a4161cd61.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>热销商品</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Space Hulk: Deathwing - Enhanced Edition</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block " data-price-final="3800">
                                                        <div class="discount_pct">-70%</div>
                                                        <div class="discount_prices">
                                                            <div class="discount_original_price">¥ 128</div>
                                                            <div class="discount_final_price">¥ 38</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/587000/First_Strike_Final_Hour/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/587000/capsule_616x353.jpg?t=1535980220">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/587000/ss_b377bdf04512ee3099c01ce42ad452d43cde1c2a.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/587000/ss_7f7850035e7483ce1bf56da85b5c1626117e98b4.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/587000/ss_6d95b6190af9e255c00dcb7d9be39979dfbddc02.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/587000/ss_c1c9cc711c821eaf290971eff45f7e6a32352c81.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>为您推荐的打折产品</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>First Strike: Final Hour</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block " data-price-final="1700">
                                                        <div class="discount_pct">-51%</div>
                                                        <div class="discount_prices">
                                                            <div class="discount_original_price">¥ 35</div>
                                                            <div class="discount_final_price">¥ 17</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/346110/ARK_Survival_Evolved/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/346110/capsule_616x353_alt_assets_1.jpg?t=1555430604">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/346110/ss_01cbef83fe28d64ee5a3d39a86043fb1e49abd31.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/346110/ss_46778c08a1a5ac5bdbaf8a5bf844fa666f66a14b.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/346110/ss_164a92a53f9bcbb728b391fc0719f9769c2e1249.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/346110/ss_2fd997a2f7151cb2187043a1f41589cc6a9ebf3a.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>最新更新</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>ARK: Survival Evolved</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block " data-price-final="5500">
                                                        <div class="discount_pct">-60%</div>
                                                        <div class="discount_prices">
                                                            <div class="discount_original_price">¥ 138</div>
                                                            <div class="discount_final_price">¥ 55</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/?snr=1_tags_4__201"
                                       class="">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/271590/capsule_616x353.jpg?t=1544815097">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/271590/ss_e929649b2b98ad76795d92d8489470bc5dbffddb.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/271590/ss_62a2f95c1784f138c3abbecf376c5cc99cc94a57.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/271590/ss_a5ca40b51e95d5c592e5eb77b3d78d5149ea5fd6.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/271590/ss_1487c2c7ddd9a1ae6b55f7e50d5d63ada6915921.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>热销商品</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Grand Theft Auto V</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="11900">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">¥ 119</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                    <a href="https://store.steampowered.com/app/440/Team_Fortress_2/?snr=1_tags_4__201">

                                        <div class="main">
                                            <img class="maincap"
                                                 src="https://media.st.dl.bscstorage.net/steam/apps/440/capsule_616x353.jpg?t=1539304875">
                                            <div class="bg">
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/440/ss_ea21f7bbf4f79bada4554df5108d04b6889d3453.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/440/ss_ee24a769dc1d81dcbd7b250d16530394adee4264.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/440/ss_9faaa506d91bf19dbb398e0c06a684b337f85f91.600x338.jpg )"></div>
                                                <div style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/440/ss_e3aedb2ab36bba8cfe611b1e0eaa807e4bb2d742.600x338.jpg )"></div>
                                            </div>
                                            <div class="recommendation_reason default">

                                                <div>
                                                    <p>Just Updated!</p>
                                                </div>

                                            </div>
                                            <div class="appTitle">
                                                <h2>Team Fortress 2</h2>
                                                <div class="discount_block_large">
                                                    <div class="discount_block  no_discount" data-price-final="7000">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">免费游玩</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </a>
                                </div>

                                <!--<div class="carousel_thumbs">-->

                                <div class="carousel_thumbs">
                                    <div class="focus"></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <div class=""></div>
                                    <!--<div class=""></div>-->
                                    <!--<div class=""></div>-->
                                    <!--<div class=""></div>-->
                                    <!--<div class=""></div>-->
                                    <!--<div class=""></div>-->
                                </div>

                                <div class="arrow left">
                                    <div></div>
                                </div>
                                <div class="arrow right">
                                    <div></div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>

                <!-- Main Content -->
                <div class="page_content_ctn">
                    <div class="page_content">

                        <!-- tabs list -->
                        <div class="leftcol sub">
                            <!-- Tab Section -->
                            <div class="tabarea">
                                <div class="tabbar_ctn">
                                    <div class="tabbar store_horizontal_minislider">
                                        <div id="tab_select_NewReleases" class="tab  tab_filler active" onclick="classTabSelect('NewReleases')">
                                            <div class="tab_content">
                                                新品热门
                                            </div>
                                        </div>
                                        <div id="tab_select_TopSellers" class="tab  tab_filler" onclick="classTabSelect('TopSellers')">
                                            <div class="tab_content">
                                                热销商品
                                            </div>
                                        </div>
                                        <div id="tab_select_ComingSoon" class="tab  tab_filler" onclick="classTabSelect('ComingSoon')">
                                            <div class="tab_content">
                                                即将发行
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content_ctn sub" id="mouseClassListPause">
                                    <div id="tab_content_NewReleases" style="display: block;">
                                        <div id="NewReleasesTable">
                                            <div id="NewReleasesRows">
                                                <a href="https://store.steampowered.com/app/783860/Horse_Riding_Deluxe/?snr=1_tags_4__103"
                                                   class="tab_item  " data-ds-appid="783860"
                                                   data-ds-tagids="[599,492,21,701,597,19,122]">
                                                    <div class="tab_item_cap">
                                                        <img class="tab_item_cap_img"
                                                             src="https://media.st.dl.bscstorage.net/steam/apps/783860/capsule_184x69.jpg?t=1555549518">
                                                    </div>
                                                    <div class="discount_block tab_item_discount no_discount"
                                                         data-price-final="7000">
                                                        <div class="discount_prices">
                                                            <div class="discount_final_price">¥ 70</div>
                                                        </div>
                                                    </div>
                                                    <div class="tab_item_content">
                                                        <div class="tab_item_name">Horse Riding Deluxe</div>
                                                        <div class="tab_item_details">
                                                            <span class="platform_img win"></span>
                                                            <div class="tab_item_top_tags"><span
                                                                    class="top_tag">模拟</span><span
                                                                    class="top_tag">, 独立</span><span
                                                                    class="top_tag">, 冒险</span><span
                                                                    class="top_tag">, 体育</span></div>
                                                        </div>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </a>
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="NewReleases_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="NewReleases_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls" id="NewReleases_controls">
                                                        <span id="NewReleases_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="NewReleases_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="NewReleases_start">1</span> - <span
                                                            id="NewReleases_end">15</span> 个，共 <span
                                                            id="NewReleases_total">482</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                            </div>
                                            <!--<div class="tab_see_more">-->
                                                <!--<a class="btnv6_white_transparent btn_small_tall"-->
                                                   <!--href="https://store.steampowered.com/search/?sort_by=Released_DESC&tags=-1&tags=19">-->
                                                    <!--<span>浏览全部新品</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div id="tab_content_TopSellers" style="display: none;">
                                        <div id="TopSellersTable">
                                            <div id="TopSellersRows">
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="TopSellers_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="TopSellers_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls"
                                                         id="TopSellers_controls">
                                                        <span id="TopSellers_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="TopSellers_links"></span>
                                                        <span id="TopSellers_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="TopSellers_start">1</span> - <span
                                                            id="TopSellers_end">15</span> 个，共 <span
                                                            id="TopSellers_total">1,494</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                    </div>
                                            <!--<div class="tab_see_more">-->
                                            <!--<a class="btnv6_white_transparent btn_small_tall"-->
                                                <!--href="https://store.steampowered.com/search/?filter=topsellers&tags=19">-->
                                                <!--<span>浏览全部热销商品</span>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        </div>
                                    </div>
                                    <div id="tab_content_ComingSoon" style="display: none;">
                                        <div id="ComingSoonTable">
                                            <div id="ComingSoonRows">
                                            </div>
                                            <div class="tab_see_more" style="margin-bottom: 5px;">
                                                <div id="ComingSoon_no_results" class="paged_items_no_results"
                                                     style="display: none">
                                                    未找到结果
                                                </div>

                                                <div id="ComingSoon_ctn" class="paged_items_paging" style="" page-id="0">
                                                    <div class="paged_items_paging_controls"
                                                         id="ComingSoon_controls">
                                                        <span id="ComingSoon_btn_prev" class="pagebtn">&lt;</span>
                                                        <span id="ComingSoon_links"></span>
                                                        <span id="ComingSoon_btn_next" class="pagebtn">&gt;</span>
                                                    </div>

                                                    <div class="paged_items_paging_summary ellipsis">
                                                        正在显示第 <span id="ComingSoon_start">1</span> - <span
                                                            id="ComingSoon_end">15</span> 个，共 <span
                                                            id="ComingSoon_total">1,157</span> 个结果
                                                    </div>

                                                    <div style="clear: both;"></div>
                                                </div>

                                            </div>
                                            <!--<div class="tab_see_more">-->
                                                <!--<a class="btnv6_white_transparent btn_small_tall"-->
                                                   <!--href="https://store.steampowered.com/search/?filter=comingsoon&tags=19">-->
                                                    <!--<span>浏览所有即将推出的商品</span>-->
                                                <!--</a>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tab Section -->
                        </div>
                        <!-- right rail -->
                        <div class="rightcol small">
                            <div th:replace="fragment_spikegoods::#spike"></div>
                            <div class="contenthub_popular_tags">
                                <h2>依标签缩小范围</h2>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=492,19&snr=1_tags_4__237">
                                    <span>独立</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=21,19&snr=1_tags_4__237">
                                    <span>冒险</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=597,19&snr=1_tags_4__237">
                                    <span>休闲</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=4182,19&snr=1_tags_4__237">
                                    <span>单人</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=493,19&snr=1_tags_4__237">
                                    <span>抢先体验</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=122,19&snr=1_tags_4__237">
                                    <span>角色扮演</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=9,19&snr=1_tags_4__237">
                                    <span>策略</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=599,19&snr=1_tags_4__237">
                                    <span>模拟</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=3859,19&snr=1_tags_4__237">
                                    <span>多人</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=3871,19&snr=1_tags_4__237">
                                    <span>二维</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=1774,19&snr=1_tags_4__237">
                                    <span>射击</span>
                                </a>
                                <a class="btnv6_blue_hoverfade btn_small_tall"
                                   href="https://store.steampowered.com/search/?sort_by=Released_DESC&page=1&tags=4667,19&snr=1_tags_4__237">
                                    <span>暴力</span>
                                </a>
                                <div style="clear: both; margin-bottom: 20px;"></div>
                            </div>
                            <div th:replace="fragment_recommendgoods::#recommend"></div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End Main Background -->
        </div>
        <!--右边悬浮框,每个74px-->
        <div class="hover game_hover" id="global_hover" style="left: 812.5px; top: 664px; display: none; opacity: 1;">
            <div class="game_hover_box hover_box">
                <div class="content" id="global_hover_content">
                    <div id="hover_app" style="display: block;">
                        <div class="hover_top_area" style="display: none;"></div>
                        <h4>Gamble Fight Plus</h4>
                        <div class="hover_release"> 发行于: 2019年4月20日 </div>
                        <div class="hover_screenshots">
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_51a3078d9108939e6e476eb18968f5db1cae2ff4.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_6ee40a87899b6dcab4bab08f86950674b408d06a.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_3c6e18d7b8c8beb6c06b9ee224bda43e5cad278f.600x338.jpg?t=1555723821  )"></div>
                            <div class="screenshot" style="background-image: url( https://media.st.dl.bscstorage.net/steam/apps/1028130/ss_5477f54bac458060e4a053f3cf833415c2ae4d3f.600x338.jpg?t=1555723821  )"></div>
                        </div>
                        <div class="hover_body">
                            <div class="hover_review_summary">
                                <div class="title">总体用户评测：</div>
                                <span class="game_review_summary mixed">褒贬不一</span>
                                (41 篇评测)
                            </div>
                            <div style="clear: left;"></div>
                        </div>
                        <div class="hover_body">
                            用户标签：
                            <div class="hover_tag_row">
                                <div class="app_tag">色情内容</div>
                                <div class="app_tag">裸露</div>
                                <div class="app_tag">动作</div>
                                <div class="app_tag">独立</div>
                                <div class="app_tag">动漫</div>
                                <div class="app_tag">女性主角</div>
                                <div class="app_tag">单人</div>
                                <div class="app_tag">可爱</div>
                                <div class="app_tag">3D 平台</div>
                                <div class="app_tag">快节奏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hover_arrow_left" style="top: 35px;"></div>
            <div class="hover_arrow_right" style="display: none;"></div>
        </div>

        <div style="clear: both;"></div>
    </div>    <!-- responsive_page_legacy_content -->
</div>
<!--脚部-->
<div th:replace="fragment_foot::#foot"></div>
<script type="text/javascript">
    steam.initClass()
    countDown('2019/4/25,21:10:00','dailydeal_timer_b9523fb88ff59a2dd944e424');
</script>
</body>
</html>