<th:block id="recommend">
    <div id="specials_container">
        <h2>推荐特惠</h2>
        <div class="contenthub_specials_ctn">
            <div class="contenthub_specials_grid">
                <div class="contenthub_specials_grid_cell"><a
                        class="store_capsule app_impression_tracked" data-ds-appid="242840"
                        href="#">
                    <div class="capsule header"><img
                            src="https://media.st.dl.bscstorage.net/steam/apps/242840/header.jpg?t=1521043743">
                    </div>
                    <div>
                        <div class="discount_block  discount_block_inline"
                             data-price-final="1700">
                            <div class="discount_pct">-75%</div>
                            <div class="discount_prices">
                                <div class="discount_original_price">¥ 68</div>
                                <div class="discount_final_price">¥ 17</div>
                            </div>
                        </div>
                    </div>
                </a></div>
                <div class="contenthub_specials_grid_cell"><a
                        class="store_capsule app_impression_tracked"
                        href="#">
                    <div class="capsule header"><img
                            src="https://media.st.dl.bscstorage.net/steam/apps/388750/header.jpg?t=1457661631">
                    </div>
                    <div>
                        <div class="discount_block  discount_block_inline"
                             data-price-final="1300">
                            <div class="discount_pct">-85%</div>
                            <div class="discount_prices">
                                <div class="discount_original_price">¥ 88</div>
                                <div class="discount_final_price">¥ 13</div>
                            </div>
                        </div>
                    </div>
                </a></div>
                <div class="contenthub_specials_grid_cell"><a
                        class="store_capsule app_impression_tracked" data-ds-appid="270150"
                        href="#">
                    <div class="capsule header"><img
                            src="https://media.st.dl.bscstorage.net/steam/apps/270150/header.jpg?t=1555410482">
                    </div>
                    <div>
                        <div class="discount_block  discount_block_inline"
                             data-price-final="1500">
                            <div class="discount_pct">-75%</div>
                            <div class="discount_prices">
                                <div class="discount_original_price">¥ 59</div>
                                <div class="discount_final_price">¥ 15</div>
                            </div>
                        </div>
                    </div>
                </a></div>
                <div class="contenthub_specials_grid_cell"><a
                        class="store_capsule app_impression_tracked" data-ds-appid="586140"
                        href="#">
                    <div class="capsule header"><img
                            src="https://media.st.dl.bscstorage.net/steam/apps/586140/header.jpg?t=1505406167">
                    </div>
                    <div>
                        <div class="discount_block  discount_block_inline"
                             data-price-final="2800">
                            <div class="discount_pct">-75%</div>
                            <div class="discount_prices">
                                <div class="discount_original_price">¥ 112</div>
                                <div class="discount_final_price">¥ 28</div>
                            </div>
                        </div>
                    </div>
                </a></div>
                <div style="clear: both"></div>
            </div>

            <!--<div class="contenthub_specials_see_more">-->
                <!--<a class="btnv6_white_transparent btn_small_tall"-->
                   <!--href="https://store.steampowered.com/search/?tags=19&amp;specials=1&amp;snr=1_tags_4__2300">-->
                    <!--<span>查看所有优惠</span>-->
                <!--</a>-->
            <!--</div>-->
            <div style="clear: both"></div>

        </div>
    </div>
</th:block>