<th:block id="spike">
    <div class="contenthub_dailydeal_container">
        <h2>每日特惠</h2>

        <div class="dailydeal_ctn">

            <div class="dailydeal_cap" id="spike_img">
                <a href="">
                    <img src="" >
                </a>
            </div>
            <div class="discount_block daily_deal_discount discount_block_large" id="spike_price">
                <a href="/" class="discount_pct">点击秒杀</a>
                <div class="discount_prices">
                    <div class="discount_original_price">¥ 128</div>
                    <div class="discount_final_price">¥ 38</div>
                </div>
            </div>
            <div class="dailydeal_desc">
                <div>今日特惠！</div>
                <div class="dailydeal_countdown timer ttip"
                     id="dailydeal_timer" date-time="">
                    24:58:56
                </div>
            </div>
        </div>


        <!--<script type="text/javascript">-->
            <!--$J(function () {-->
                <!--InitDailyDealTimer('dailydeal_timer_b9523fb88ff59a2dd944e424', 1555693500);-->
            <!--});-->
        <!--</script>-->
        <div style="clear: both; margin-bottom: 20px;"></div>
    </div>
</th:block>