<th:block id="comment">
    <div class="review_ctn">
        <div class="page_content">

            <div id="app_reviews_hash" class="app_reviews_area">
                <h2 class="user_reviews_header no_bottom_margin">消费者评测</h2>
                <div id="review_histograms_container" class="collapsed">
                    <canvas id="review_graph_canvas"></canvas>
                    <div id="review_histogram_rollup_section" class="review_histogram_section">
                        <div class="user_reviews_summary_bar">
                            <div class="summary_section">
                                <div class="title">总体评测：</div>
                                <span class="game_review_summary positive"
                                      data-tooltip-html="15,843 篇用户的游戏评测中有 86% 为好评。">特别好评</span>
                                <span>(15,843 篇评测)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Reviews_summary" class="user_reviews_container" style="display: none;"><div id="Reviewssummary0">

                    <div class="leftcol" id="comment_detail">
                        <div class="user_reviews_sub_header">最有价值的评测&nbsp;
                            <span class="user_reviews_most_helpful_days">（过去 7 天内）</span>
                        </div>

                    </div>
                    <div class="rightcol recent_reviews" id="comment_short">
                        <div class="user_reviews_sub_header">最近发布</div>

                        <div class="review_box short">
                        </div>

                    </div>
                    <div style="clear:left;"></div>

                    <div id="ViewAllReviewssummary" class="view_all_reviews_btn leftcol"  style="display: none" page="0" gameId="10">
                        <a href="javascript:void(0)">无更多评测</a>
                    </div>

                    <div style="clear: both"></div>
                </div></div>
                <div id="Reviews_loading" class="user_reviews_container" style="display: none">
                    <div class="LoadingWrapper">
                        <div class="LoadingThrobber">
                            <div class="Bar Bar1"></div>
                            <div class="Bar Bar2"></div>
                            <div class="Bar Bar3"></div>
                        </div>
                        <div class="LoadingText">加载评测中…</div>
                    </div>
                </div>
                <div style="clear: left"></div>

            </div>
        </div>
    </div>
</th:block>