<th:block id="spike">
    <div class="contenthub_dailydeal_container">
        <h2>每日特惠</h2>

        <div class="dailydeal_ctn">

            <div class="dailydeal_cap"
                 onmouseover="GameHover( this, event, 'global_hover', {&quot;type&quot;:&quot;app&quot;,&quot;id&quot;:816090,&quot;public&quot;:1,&quot;v6&quot;:1} );"
                 onmouseout="HideGameHover( this, event, 'global_hover' )">
                <a href="https://store.steampowered.com/app/816090/Space_Hulk_Deathwing__Enhanced_Edition/?snr=1_tags_4__43">
                    <img src="https://media.st.dl.bscstorage.net/steam/apps/816090/header.jpg?t=1553607180">
                </a>
            </div>

            <div class="discount_block daily_deal_discount discount_block_large"
                 data-price-final="3800">
                <div class="discount_pct">-70%</div>
                <div class="discount_prices">
                    <div class="discount_original_price">¥ 128</div>
                    <div class="discount_final_price">¥ 38</div>
                </div>
            </div>
            <div class="dailydeal_desc">
                <div>今日特惠！</div>

                <div class="dailydeal_countdown timer ttip"
                     id="dailydeal_timer_b9523fb88ff59a2dd944e424"
                     data-tooltip-text="此优惠的剩余时间">
                    24:58:56
                </div>
            </div>
        </div>


        <!--<script type="text/javascript">-->
            <!--$J(function () {-->
                <!--InitDailyDealTimer('dailydeal_timer_b9523fb88ff59a2dd944e424', 1555693500);-->
            <!--});-->
        <!--</script>-->
        <div style="clear: both; margin-bottom: 20px;"></div>
    </div>
</th:block>