<th:block id="menu">
    <div class="home_page_content">
        <div id="store_header" class="">
            <div class="content">
                <div id="store_nav_area">
                    <div class="store_nav_leftcap"></div>
                    <div class="store_nav_bg">
                        <div class="store_nav">

                            <div class="tab  flyout_tab " id="foryou_tab" data-flyout="foryou_flyout"
                                 data-flyout-align="left" data-flyout-valign="bottom">
								<span class="pulldown">
									<a class="pulldown_desktop" href="/">您的商店</a>
									<span></span>
								</span>
                            </div>
                            <!--<div class="popup_block_new flyout_tab_flyout responsive_slidedown"-->
                                 <!--id="foryou_flyout" style="display: none;">-->
                                <!--<div class="popup_body popup_menu">-->
                                    <!--<a class="popup_menu_item"-->
                                       <!--href="https://store.steampowered.com/?snr=1_4_4__12">-->
                                        <!--商店主页 </a>-->
                                    <!--<div class="hr"></div>-->
                                    <!--<a class="popup_menu_item"-->
                                       <!--href="https://store.steampowered.com/recommended/?snr=1_4_4__12">-->
                                        <!--最近查看过的 </a>-->
                                    <!--<a class="popup_menu_item"-->
                                       <!--href="https://store.steampowered.com/curators/?snr=1_4_4__12">-->
                                        <!--Steam 鉴赏家 </a>-->
                                    <!--<a class="popup_menu_item"-->
                                       <!--href="https://store.steampowered.com/updated/all/?snr=1_4_4__12">-->
                                        <!--最近更新 </a>-->
                                <!--</div>-->
                            <!--</div>-->


                            <div class="tab  flyout_tab " id="genre_tab" data-flyout="genre_flyout"
                                 data-flyout-align="left" data-flyout-valign="bottom" onclick="showClassGameList()" >
									<span class="pulldown">
										<a class="pulldown_desktop"
                                           href="javascript:void(0);">游戏分类</a>
										<a class="pulldown_mobile" href="#">游戏分类</a>
										<span></span>
									</span>
                            </div>
                            <div class="popup_block_new flyout_tab_flyout responsive_slidedown"
                                 id="genre_flyout" style="display: none;" >
                                <div class="popup_body popup_menu">
                                    <div class="popup_menu_subheader">按类型浏览：</div>
                                    <a class="popup_menu_item"
                                       href="/classification/动作">
                                        动作 </a>
                                    <a class="popup_menu_item"
                                       href="/classification/独立">
                                        独立 </a>
                                    <a class="popup_menu_item"
                                       href="/classification/冒险">
                                        冒险 </a>
                                    <a class="popup_menu_item"
                                       href="/classification/模拟">
                                        模拟 </a>
                                    <a class="popup_menu_item"
                                       href="/classification/多人">
                                        多人 </a>
                                </div>
                            </div>
                            <div class="search_area">
                                <div id="store_search">
                                    <form id="searchform" name="searchform" method="get"
                                          action="/search">
                                        <div class="searchbox">
                                            <input id="content_search" name="content" type="text"
                                                   class="default" placeholder="搜索商店" size="22"
                                                   autocomplete="off">
                                            <a href="javascript:void (0);" id="store_search_link" onclick="searchResult()">
                                               <img src="https://store.st.dl.bscstorage.net/public/images/blank.gif"></a>
                                        </div>
                                    </form>
                                </div>
                                <div id="searchterm_options" class="search_suggest popup_block_new"
                                     style="display: none;">
                                    <div class="popup_body" style="border-top: none;">
                                        <div id="search_suggestion_contents">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="store_nav_rightcap"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>