<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <th:block th:replace="fragment_header::#head"></th:block>
    <link href="css/motivo.css" th:href="@{/css/motivo.css}" rel="stylesheet" type="text/css" >
    <link href="css/register.css" th:href="@{/css/register.css}" rel="stylesheet" type="text/css" >
    <link href="css/sharereponsive.css" th:href="@{/css/sharereponsive.css}" rel="stylesheet" type="text/css" >
</head>
<body class="v6 responsive_page">
<!--头部-->
<div class="responsive_page_content">
    <div th:replace="fragment_top::#top"></div>
</div>

<div class="responsive_page_frame with_header">
    <!--菜单-->
    <div th:replace="fragment_menu::#menu"></div>

    <!--注册主体-->
    <div class="page_content ">


        <div class="page_title_area game_title_area">
            <div class="breadcrumbs">
                <div class="blockbg">
                    <a href="javascript:void(0);">主页</a>
                </div>
                <div style="clear: left;"></div>
            </div>
            <div class="game_name">
                <div class="blockbg">
                    创建帐户				</div>
                <div style="clear: left;"></div>
            </div>
        </div>


        <div class="leftcol">


            <div id="error_display" style="display: none;"></div>

            <div class="checkout_content_box" id="cart_area">
                <!--<form id="create_account" name="create_account">-->
                    <div id="account_form_box">
                        <div class="join_form">
                            <div class="form_row">
                                <div class="form_area">
                                    <label for="email">您当前的电子邮件地址</label>
                                    <input type="text" maxlength="255" name="email" id="email" />
                                    <br>
                                    <label class="reenter_row" for="password">请输入密码</label>
                                    <input type="password" maxlength="255" name="password" id="password" />
                                    <br>
                                    <!--<div style="">-->
                                    <!--<label class="country_select">发送验证码：</label>-->
                                    <!--<input type="button" value="确认发送" style="background-color: rgba( 0, 0, 0, 0.2 );color: #fff;border: 1px solid #000;border-radius: 3px;box-shadow: 1px 1px 0px #45556c;width:60px;height: 20px"/>-->
                                    <label class="country_select">输入验证码：</label>
                                    <input type="text" style="width: 60px">
                                    <input type="button" id="captchaRefreshLink" value="发送" style="background-color: rgba( 0, 0, 0, 0.2 );color: #fff;border: 1px solid #000;border-radius: 3px;box-shadow: 1px 1px 0px #45556c;width:60px;height: 20px"/>
                                    <!--<a id="captchaRefreshLink"></a>-->
                                    <!--</div>-->
                                </div>
                                <div class="form_notes">
                                    <br>
                                    <p>您的电子邮件地址用于确认购买并帮助您管理对 Steam 帐户的访问。</p>
                                    <br>
                                    <p>Steam 将向此帐户发送一封用于确认的电子邮件。请通过邮件中的链接验证您的 Steam 电子邮件帐户。</p>
                                </div>
                                <div style="clear: left;"></div>
                            </div>
                            <div class="form_row">
                                <div class="form_area">

                                </div>
                                <div style="clear: left;"></div>
                            </div>
                            <div class="rule"></div>

                            <div class="form_row">
                                <div id="priv_and_sub">
                                    <a id="createAccountButton" class="btnv6_blue_hoverfade btn_medium" href="javascript:CreateAccount();" style="float: right;">
                                        <span>注册</span>
                                    </a>
                                    <div style="clear: right;"></div>
                                </div>
                                <div id="ssa_submit">
                                </div>
                            </div>
                        </div>
                    </div>
                <!--</form>-->
            </div>
        </div>

        <!-- Right Column -->

        <div class="rightcol">
            <div class="block">

                <div class="block_content block_content_inner login">
                    <h2>为什么加入 STEAM？</h2>
                    <ul id="why_list">
                        <li>购买和下载完整零售游戏</li>
                        <li>加入 Steam 社区</li>
                        <li>游戏时与好友聊天</li>
                        <li>在任何电脑上都能玩</li>
                        <li>安排游戏、比赛或 LAN 聚会</li>
                        <li>获取自动游戏更新以及更多！</li>
                    </ul>
                    <br />
                    <img src="https://store.st.dl.bscstorage.net/public/images/v6/why_join_preview.png" width="265" height="176" border="0" >
                </div>
                <br>
            </div>
        </div>
        <!-- End Right Column -->


        <br clear="all">
    </div>

</div>

<!--脚部-->
<div th:replace="fragment_foot::#foot"></div>
<script>
    $('#captchaRefreshLink').on("click",function(){
        sendEmailverification();
    });
</script>
</body>
</html>