<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link href="css/motivo.css" rel="stylesheet" type="text/css">
    <th:block th:replace="fragment_header::#head"></th:block>
    <link href="css/browse.css" th:href="@{/css/browse.css}" rel="stylesheet" type="text/css">
    <link href="css/discoveryqueue.css" th:href="@{/css/discoveryqueue.css}" rel="stylesheet" type="text/css">
    <link href="css/tag.css" th:href="@{/css/tag.css}" rel="stylesheet" type="text/css">
    <link href="css/contenthub.css" th:href="@{/css/contenthub.css}" rel="stylesheet" type="text/css">
    <link href="css/creator.css" th:href="@{/css/creator.css}" rel="stylesheet" type="text/css">
    <link href="css/sharereponsive.css" th:href="@{/css/sharereponsive.css}" rel="stylesheet" type="text/css">
    <link href="css/search.css" th:href="@{/css/search.css}" rel="stylesheet" type="text/css">
</head>
<body class="v6 tag_page game_bg contenthub_page responsive_page">
<!--头部-->
<div class="responsive_page_content">
    <div th:replace="fragment_top::#top"></div>
</div>

<div class="responsive_page_frame with_header" id="search" content="" th:attr="content=${content}">
    <div class="responsive_page_content">
        <div id="responsive_store_nav_ctn"></div>
        <div data-cart-banner-spot="1"></div>
        <div class="responsive_page_template_content">

            <div class="contenthub_page_background "
                 style="">


                <div class="page_content_ctn">
                    <!--菜单-->
                    <div th:replace="fragment_menu::#menu"></div>
                </div>



                <!-- Main Content -->
                <div class="page_content_ctn">
                    <div class="page_content">
                        <div class="leftcol large">

                            <div class="searchbar">

                                <div class="searchbar_left">
                                    <!--<form type="get" action="/search" id="page_content">-->
                                        <input type="text" class="text" id="term" name="displayterm" onfocus="if(this.value=='输入搜索词或标签'){this.value=''}"  onblur="if(this.value==''){this.value='输入搜索词或标签';}" value="" maxlength="64" autocomplete="off">
                                        <button  class="btnv6_blue_hoverfade btn_small" onclick="searchOnPage()"><span>搜索</span></button>
                                    <!--</form>-->
                                    <div id="term_options" class="autocomplete" style="display: none;"><ul></ul></div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>


                            <!--<div id="search_results_filtered_warning_persistent" class="search_results_filtered_warning collapsed"></div>-->
                            <div id="search_results">

                                <div id="search_result_container">
                                    <!--<div class="search_rule"></div>-->
                                    <!-- List Items -->
                                    <!--<div>-->
                                        <!-- Extra empty div to hack around lame IE7 layout bug -->
                                        <!--<div></div>-->
                                        <!-- End Extra empty div -->
                                        <!--<a href="https://store.steampowered.com/app/923910/Eve_of_Souls_Static_Pod/?snr=1_7_7_151_150_1" data-ds-appid="923910" data-ds-tagids="[493,21,493,492,122,1667,5577]" data-ds-crtrids="[33025217]" onmouseover="GameHover( this, event, 'global_hover', {&quot;type&quot;:&quot;app&quot;,&quot;id&quot;:923910,&quot;public&quot;:1,&quot;v6&quot;:1} );" onmouseout="HideGameHover( this, event, 'global_hover' )" class="search_result_row ds_collapse_flag  app_impression_tracked">-->
                                        <!--<div class="col search_capsule"><img src="https://media.st.dl.bscstorage.net/steam/apps/923910/capsule_sm_120.jpg?t=1559784228"></div>-->
                                        <!--<div class="responsive_search_name_combined">-->
                                            <!--<div class="col search_name ellipsis">-->
                                                <!--<span class="title">Eve of Souls: Static Pod</span>-->
                                                <!--<p>-->
                                                    <!--<span class="platform_img win"></span>							</p>-->
                                            <!--</div>-->
                                            <!--<div class="col search_released responsive_secondrow">2019年6月5日</div>-->
                                            <!--<div class="col search_reviewscore responsive_secondrow">-->
															<!--<span class="search_review_summary positive" data-tooltip-html="好评<br>44 篇用户的游戏评测中有 93% 为好评。">-->
								<!--</span>-->
                                            <!--</div>-->


                                            <!--<div class="col search_price_discount_combined responsive_secondrow" data-price-final="600">-->
                                                <!--<div class="col search_discount responsive_secondrow">-->
                                                    <!--<span>-45%</span>-->
                                                <!--</div>-->
                                                <!--<div class="col search_price discounted responsive_secondrow">-->
                                                    <!--<span style="color: #888888;"><strike>¥ 11</strike></span><br>¥ 6							</div>-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div style="clear: left;"></div>-->
                                    <!--</a>-->
                                    <!-- End List Items -->
                                    <!--</div>-->


                                </div>

                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>

            </div>
            <!-- End Main Background -->
        </div>
        <!--右边悬浮框,每个74px-->


        <div style="clear: both;"></div>
    </div>    <!-- responsive_page_legacy_content -->
</div>
<!--脚部-->
<div th:replace="fragment_foot::#foot"></div>
<script type="text/javascript">
    steam.initSearch()
</script>
</body>
</html>