<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link href="css/motivo.css" rel="stylesheet" type="text/css" >
    <th:block th:replace="fragment_header::#head"></th:block>
    <link href="css/cart.css" th:href="@{/css/cart.css}" rel="stylesheet" type="text/css" >
    <link href="css/browse.css" th:href="@{/css/browse.css}" rel="stylesheet" type="text/css">
    <link href="css/discoveryqueue.css" th:href="@{/css/discoveryqueue.css}" rel="stylesheet" type="text/css">
    <link href="css/tag.css" th:href="@{/css/tag.css}" rel="stylesheet" type="text/css">
    <link href="css/contenthub.css" th:href="@{/css/contenthub.css}" rel="stylesheet" type="text/css">
    <link href="css/creator.css" th:href="@{/css/creator.css}" rel="stylesheet" type="text/css">
    <link href="css/sharereponsive.css" th:href="@{/css/sharereponsive.css}" rel="stylesheet" type="text/css">
</head>
<body class="v6 infinite_scrolling responsive_page" id="shoppingCart">
<!--头部-->
<div class="v6 login responsive_page">
    <div th:replace="fragment_top::#top"></div>
</div>

<div class="responsive_page_frame with_header">


    <!--登陆主体-->
    <div class="responsive_page_template_content">
        <div class="page_background">

            <div class="page_header_ctn search">
                <div class="responsive_store_nav_ctn_spacer">
                    <div id="store_header" class="">
                        <div class="content">
                            <!--菜单-->
                            <div th:replace="fragment_menu::#menu"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page_content">

                <div style="clear: left;"></div>

                <div style="clear: left;"></div>
                <div class="leftcol">
                    <div class="cart_area_body checkout_content_box">


                        <div class="cart_item_list">
                            <!-- cart item blocks -->

                            <div class="cart_row even app_impression_tracked" id="cart_row">

                                <div class="cart_item" id="cart-id-1">
                                    <div class="cart_item_price_container">
                                        <div class="cart_item_price ">
                                            <div class="price">¥ 268</div>
                                            <a class="remove_link" onclick="removeGameOnCart(1)">移除</a>
                                        </div>
                                    </div>
                                    <div class="cart_item_img "><a href="https://store.steampowered.com/app/814380?snr=1_8_4__501"><img src="https://media.st.dl.bscstorage.net/steam/apps/814380/capsule_sm_120.jpg?t=1554918884" border="0"></a></div>
                                    <div class="cart_item_desc">
                                        <div class="cart_item_platform">
                                            <span class="platform_img win"></span>									</div>
                                        <a href="https://store.steampowered.com/app/814380?snr=1_8_4__501">Sekiro: Shadows Die Twice</a><br>
                                    </div>
                                    <div style="clear: left"></div>
                                </div>

                                <div class="ds_options"><div></div></div>
                            </div>
                            <!-- /cart item blocks -->
                        </div>


                        <div>
                        </div>

                        <div class="checkout_content cart">
                            <div class="cart_checkout_buttons">
                                <!--<a id="btn_purchase_gift" href="https://store.steampowered.com/checkout/?purchasetype=gift&amp;snr=1_8_4__503" class="btnv6_green_white_innerfade btn_medium continue">-->
									<!--<span>-->
									<!--作为礼物购买										</span>-->
                                <!--</a>-->
                                <a id="btn_purchase_self" href="javascript:void(0);" onclick="finalBuyGame()" class="btnv6_green_white_innerfade btn_medium continue">
									<span>
									为自己购买										</span>
                                </a>

                                <div style="clear: right;"></div>
                            </div>
                        </div>
                    </div>
                    <!--移除所有购物车里面的订单-->
                    <div class="checkout_notes">
                        <div style="float:right;">
                            <a class="remove_link" href="javascript:void(0);" onclick="removeAllGameOnCart()">移除所有物品</a>
                        </div>

                    </div>
                    <br>
                    <!--继续购物-->
                    <div class="continue_shopping_ctn">
                        <a href="/" class="btn_medium btnv6_blue_hoverfade">
						<span>
							继续购物						</span>
                        </a>
                    </div>

                </div>
                <!-- End Center Column -->

                <!-- Right Column -->
                <div class="rightcol cart_rightcol">



                    <!--今日优惠-->
                    <div th:replace="fragment_spikegoods::#spike"></div>

                    <!--推荐-->
                    <div th:replace="fragment_recommendgoods::#recommend"></div>


                </div>
                <!-- End Right Column -->

                <div style="clear: both;"></div>
            </div>
        </div>
        <!-- End Main Background -->

        <div id="coupon_selector_bg" style="display: none;"></div>

    </div>	<!-- responsive_page_legacy_content -->


</div>

<!--脚部-->
<div th:replace="fragment_foot::#foot"></div>
<script type="text/javascript">
    steam.initCart();
    var date=new Date(parseInt($('#dailydeal_timer')[0].getAttribute('date-time')));
    var startTime=new Date(parseInt($('#dailydeal_timer')[0].getAttribute('spike-start-time')));
    var endTime=new Date(parseInt($('#dailydeal_timer')[0].getAttribute('spike-end-time')));
    SY = startTime.getFullYear() + '/';
    SM = startTime.getMonth()+1+'/';
    SD = startTime.getDate()+',';
    Sh = startTime.getHours()+':';
    Sm = startTime.getMinutes()+':';
    Ss = startTime.getSeconds();
    EY = endTime.getFullYear() + '/';
    EM = endTime.getMonth()+1+'/';
    ED = endTime.getDate()+',';
    Eh = endTime.getHours()+':';
    Em = endTime.getMinutes()+':';
    Es = endTime.getSeconds();
    spikeStartTime=SY+SM+SD+Sh+Sm+Ss;
    spikeEndTime=EY+EM+ED+Eh+Em+Es;
    countDown(spikeStartTime,spikeEndTime,'dailydeal_timer');
</script>
</body>
</html>