<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#171a21">
    <title>全部评测</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link href="" th:href="@{/css/shareglobal.css}" rel="stylesheet" type="text/css" >
    <link href="" th:href="@{/css/global2.css}" rel="stylesheet" type="text/css" >
    <link href="" th:href="@{/css/user_review.css}" rel="stylesheet" type="text/css" >
    <link href="" th:href="@{/css/profive2.css}" rel="stylesheet" type="text/css" >
    <link href="" th:href="@{/css/profile_reviews.css}" rel="stylesheet" type="text/css" >

</head>
<body class="flat_page migrated_profile_page responsive_page">

<div class="responsive_page_frame with_header">

    <div class="responsive_page_content">

        <div th:replace="fragment_top::#top"></div>

        <div class="responsive_page_template_content">

            <div class="pagecontent no_header">

                <div class="profile_small_header_bg">
                    <div class="profile_small_header_texture">

                        <div class="profile_small_header_text">
                            <span class="profile_small_header_name"><a class="whiteLink" href="/personalcenter" th:text="${user.nickName}">溯夜</a></span>
                            <span class="profile_small_header_arrow">&raquo;</span>
                            <a class="whiteLink"  href="javascript:void(0);"><span class="profile_small_header_location">评测</span></a>

                        </div>
                        <a href="javascript:void(0);">
                            <div class="profile_small_header_avatar">
                                <div class="playerAvatar medium offline">
                                    <img th:src="${user.avatar}" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/95/959986934ff7a3782a0746a96d5f5df8524d9c2b_medium.jpg">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- main body -->
                <div id="BG_bottom" class="maincontent">
                    <div id="mainContents">


                    <div class="sectionTabs item responsive_hidden">
                        <a href="/showallgame"  class="sectionTab "><span>所有游戏</span></a>
                        <a href="javascript:void(0);"  class="sectionTab  active"><span>评测</span></a>
                    </div>

                    <div id="tabs_baseline" class="responsive_tab_baseline"></div>

                    <div style="clear: left"></div>
                    <div class="sectionTabsHR "><img src="https://steamcommunity-a.akamaihd.net/public/images/trans.gif"></div>

                    <div id="tabs_basebg" class="review_list">

                        <div id="rightContents">
                            <div class="box">
                                <div>
                                    <div class="review_stat">
                                        <div class="giantNumber ellipsis" th:text="${user.commentNum}">8</div>
                                        <div class="giantNumberSubhead ellipsis">已评测<br>产品</div>
                                    </div>
                                    <div class="review_stat">
                                        <div class="giantNumber ellipsis" th:text="${user.buyGames}">9</div>
                                        <div class="giantNumberSubhead ellipsis">帐户内<br>产品</div>
                                    </div>
                                </div>
                                <div style="clear: left;"></div>
                            </div>
                            <!-- in responsive mode these boxes float side-by-side -->
                            <div style="clear: left;"></div>
                        </div>

                        <div id="leftContents" page="0">

                            <h1 th:text="${user.nickName}+' 最近的评测'">溯夜 最近的评测</h1>
                            <div id="showcomment">
                            </div>
                            <div class="workshopBrowsePaging">
                                <div class="workshopBrowsePagingControls">
                                </div>
                                <a id="comment_statu" class="workshopBrowsePagingInfo" onclick="loadMoreCommentOnPersonal()">
                                    <!--正在显示第 1 - 8 项，共 8 项条目					</div>-->
                                    点击加载更多评论
                                </a>

                        </div>



                    </div>



                    <br clear="all" />
                    <br/>

                </div>

            </div>

        </div>	<!-- responsive_page_legacy_content -->

        <div id="footer_spacer"></div>
        <div id="footer_responsive_optin_spacer"></div>
        <div id="footer">
            <div class="footer_content">
                <span id="footerLogo"><img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/footerLogo_valve.png?v=1" width="96" height="26" border="0" alt="Valve 徽标" /></span>
                <span id="footerText">
				© Valve Corporation。保留所有权利。所有商标均为其在美国及其它国家/地区的各自持有者所有。 本网站上部分地理空间数据由 <a href="https://steamcommunity.com/linkfilter/?url=http://www.geonames.org" target="_blank" rel="noreferrer">geonames.org</a> 提供。				<br>
									<span class="valve_links">
						<a href="http://store.steampowered.com/privacy_agreement/" target="_blank">隐私政策</a>
						&nbsp; | &nbsp;<a href="https://store.steampowered.com/legal/" target="_blank">法律信息</a>
						&nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/" target="_blank">Steam 订户协议</a>
					</span>
							</span>
            </div>
        </div>

    </div>	<!-- responsive_page_content -->

</div>	<!-- responsive_page_frame -->
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js" type="text/javascript"></script>
<script src="js/md5.min.js" th:src="@{/js/md5.min.js}" type="text/javascript"></script>
<script src="layer/layer.js" th:src="@{/layer/layer.js}" type="text/javascript"></script>
<script src="js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
<script type="text/javascript">
   steam.loadAllCommentInUser();
</script>
</body>
</html>